@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

html,
body,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
    margin: 0;
    padding: 0;
    font-family: "Manrope";
    list-style: none;
}

/* Header */

.header {
    background-color: whitesmoke;
    height: 80px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.menu-icon {
    display: none !important;
}

.header-left {
    float: left;
    color: #041627;
    font-size: 20px;
    margin-top: 24px;
    margin-left: 80px;
    cursor: pointer;
}

.header-center li {
    color: #596B7B;
    font-size: 14px;
    padding: 0 20px;
    margin-top: 28px;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.header-center li a {
    text-decoration: none;
}

.header-center li::after {
    content: '';
    height: 1px;
    width: 0;
    background: rgb(136, 136, 136);
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}

.header-center li:hover::after {
    width: 100%;
    font-size: 20px;
}

.header-center span {
    color: #0081F9;
}

/*pertombolan pojok kanan*/
.header-right {
    margin-top: 24px;
    margin-right: 80px;
    float: right;
}

.header-right a {
    padding: 6px 24px;
    background-color: #0081F9;
    color: white;
    display: block;
    border-radius: 4px;
    text-decoration-line: none;
}

.top-wrapper {
    padding: 420px 0 420px 0;
    background: linear-gradient(rgba(107, 76, 46, 0.5), rgba(41, 35, 35, 0.5)), url(./assets/img1.jpg);
    background-position-y: center;
    background-size: cover;
    color: white;
    text-align: center;
}

.top-wrapper h1 {
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 80px;
}

.top-wrapper p {
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    font-style: normal;
}

/*search box*/
.box {
    position: absolute;
    transform: translate(-50%, -50%);
}

input {
    position: relative;
    display: inline-block;
    font-size: 14px;
    box-sizing: border-box;
    transition: 0.5s;
}

input[type="text"] {
    background: #fff;
    width: 340px;
    height: 50px;
    border: none;
    outline: none;
    padding: 0 25px
}

input[type="submit"] {
    position: relative;
    left: -5px;
    width: 150px;
    height: 50px;
    border: none;
    outline: none;
    background: #0081F9;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background: #0d5ca7;
}

/* Services */
.services {
    background-color: #FAFBFC;
    height: 700px;
}

.services h2 {
    text-align: center;
    font-size: 40px;
}

.services p {
    text-align: center;
    font-size: 20px;
}

.tag-services {
    margin: auto;
    display: flex;
    justify-content: space-around;
    width: 137px;
    height: 40px;
    margin-top: 30px;
    background-color: #FCF5FF;
    color: #CC61FF;
    border-radius: 40px;
    font-size: 16px;
    margin-bottom: 30px;
}

.tag-services img {
    width: 25px;
}

.tag-services p {
    padding: 3px;
}

.card-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card {
    background-color: #FAFBFC;
    width: 411px;
    height: 346px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0px 24px;
    margin: 50px;
}

.card p {
    text-align: start;
    font-size: 14px;
    margin-bottom: 30px;
}

.card h5 {
    font-size: 22px;
    margin-bottom: 30px;
}

.card img {
    width: 64px;
    margin-bottom: 30px;
}

.card a {
    color: #0081F9;
    text-decoration: none;
    text-align: end;
}

.card:hover {
    background-color: white;
    box-shadow: 0px 3px 38px 5px rgba(158, 157, 157, 0.11);
    -webkit-box-shadow: 0px 3px 38px 5px rgba(158, 157, 157, 0.11);
    -moz-box-shadow: 0px 3px 38px 5px rgba(158, 157, 157, 0.11);
}


/* Responsiveness */

@media screen and (max-width: 1000px) {
    .header-center {
        display: none;
    }

    .header-right {
        display: none;
    }

    .menu-icon {
        display: block !important;
        margin-top: 28px;
        margin-right: 80px;
        float: right;
        cursor: pointer;

    }

    .card-wrapper {
        display: flex;
        flex-direction: column;
    }

    .card {
        background-color: white;
        width: 80%;
        margin: 10px auto;
        height: 346px;
        padding: 20px;
        box-shadow: 0px 3px 38px 5px rgba(158, 157, 157, 0.11);
        -webkit-box-shadow: 0px 3px 38px 5px rgba(158, 157, 157, 0.11);
        -moz-box-shadow: 0px 3px 38px 5px rgba(158, 157, 157, 0.11);
    }


}


@media screen and (max-width: 670px) {
    .top-wrapper {
        padding: 180px 0 180px 0;
    }

    .top-wrapper h1 {
        font-size: 44px;
        line-height: 60px;
    }

    .top-wrapper p {
        font-size: 16px;
        padding: 10px 15px;
    }

    input[type="text"] {
        width: 220px;
    }

    input[type="submit"] {
        width: 100px;
    }

    .services h2 {
        font-size: 30px;
        margin-bottom: 20px;
    }

    .services p {
        padding: 20px;
        font-size: 18px;
        margin-bottom: 20px;
    }

    .tag-services p {
        padding: 5px;
    }

    .card h5 , a , img{
       margin-left: 20px;
       align-items: center;
       text-align: center;
    }

}