@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

html,
body,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
    margin: 0;
    padding: 0;
    font-family: "Manrope";
    list-style: none;
}

body{
    background-color: #FAFBFC;
}

/* Header */

.header {
    background-color: whitesmoke;
    height: 80px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.menu-icon {
    display: none !important;
    transition: all 0.4s ease;
}

.menu-list {
    display: none;
}

.hide {
    opacity: 0.5;
}

.menu-list-active {
    font-family: "barlow", sans-serif;
    position: absolute;
    top: 8rem;
    left: 6%;
    width: 88%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: white;
    padding: 3.6rem 0;
}

.menu li {
    color: #596B7B;
    font-size: 24px;
    padding: 0 20px;
    margin-top: 28px;
    position: relative;
    cursor: pointer;
}

.menu li a {
    text-decoration: none;
}

.menu li::after {
    content: '';
    height: 1px;
    width: 0;
    background: rgb(136, 136, 136);
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}

.menu li:hover::after {
    width: 100%;
    font-size: 20px;
}


.header-left {
    float: left;
    color: #041627;
    font-size: 20px;
    margin-top: 24px;
    margin-left: 80px;
    cursor: pointer;
}

.header-center li {
    color: #596B7B;
    font-size: 14px;
    padding: 0 20px;
    margin-top: 28px;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.header-center li a {
    text-decoration: none;
}

.header-center li::after {
    content: '';
    height: 1px;
    width: 0;
    background: rgb(136, 136, 136);
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}

.header-center li:hover::after {
    width: 100%;
    font-size: 20px;
}

.header-center span {
    color: #0081F9;
}

/*pertombolan pojok kanan*/
.header-right {
    margin-top: 24px;
    margin-right: 80px;
    float: right;
}

.header-right a {
    padding: 6px 24px;
    background-color: #0081F9;
    color: white;
    display: block;
    border-radius: 4px;
    text-decoration-line: none;
}

.top-wrapper {
    padding: 420px 0 420px 0;
    background: linear-gradient(rgba(107, 76, 46, 0.5), rgba(41, 35, 35, 0.5)), url(./assets/img1.jpg);
    background-position-y: center;
    background-size: cover;
    color: white;
    text-align: center;
}

.top-wrapper h1 {
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 80px;
}

.top-wrapper p {
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    font-style: normal;
}

/*search box*/
.box {
    position: absolute;
    transform: translate(-50%, -50%);
}

input {
    position: relative;
    display: inline-block;
    font-size: 14px;
    box-sizing: border-box;
    transition: 0.5s;
}

input[type="text"] {
    background: #fff;
    width: 340px;
    height: 50px;
    border: none;
    outline: none;
    padding: 0 25px
}

input[type="submit"] {
    position: relative;
    left: -5px;
    width: 150px;
    height: 50px;
    border: none;
    outline: none;
    background: #0081F9;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background: #0d5ca7;
}

/* Services */
.services {
    background-color: #FAFBFC;
    height: 700px;
}

.services h2 {
    text-align: center;
    font-size: 40px;
}

.services p {
    text-align: center;
    font-size: 20px;
}

.tag-services {
    margin: auto;
    display: flex;
    justify-content: space-around;
    width: 137px;
    height: 40px;
    margin-top: 30px;
    background-color: #FCF5FF;
    color: #CC61FF;
    border-radius: 40px;
    font-size: 16px;
    margin-bottom: 30px;
}

.tag-services img {
    width: 25px;
}

.tag-services p {
    padding: 3px;
}

.card-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card {
    background-color: #FAFBFC;
    width: 411px;
    height: 346px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0px 24px;
    margin: 50px;
}

.card p {
    text-align: start;
    font-size: 14px;
    margin-bottom: 30px;
}

.card h5 {
    font-size: 22px;
    margin-bottom: 30px;
}

.card img {
    width: 64px;
    margin-bottom: 30px;
}

.card a {
    color: #0081F9;
    text-decoration: none;
    text-align: end;
}

.card:hover {
    background-color: white;
    box-shadow: 0px 3px 38px 5px rgba(158, 157, 157, 0.11);
    -webkit-box-shadow: 0px 3px 38px 5px rgba(158, 157, 157, 0.11);
    -moz-box-shadow: 0px 3px 38px 5px rgba(158, 157, 157, 0.11);
}

/* content promotion*/

.content-view {
    background-color: #FAFBFC;
    height: 1018.5px;
    padding-right: 80px;
    padding-left: 80px;
}

.content-label {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 0px;
    width: 137px;
    height: 40px;
    margin-top: 30px;
    background-color: #FCF5FF;
    color: #CC61FF;
    border-radius: 40px;
    font-size: 16px;
    margin-bottom: 30px;
}

.content {
    margin-top: 24px;
}

.content h2 {
    height: 48px;
    left: 80px;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    /* identical to box height, or 120% */

    display: flex;
    align-items: center;
    text-transform: capitalize;
    margin-bottom: 20px;
    color: #041627;
}

.content p {

    left: 80px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    /* or 160% */
    color: #596B7B;
}

.view-desti {
    width: 1280px;
    margin: 70px auto 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-right: 80px;
    padding-left: 20%;
    padding-top: 100px;
    cursor: pointer;
}

.view-desti .box {
    position: relative;

    width: 400px;
    height: 300px;
    background: rgb(231, 9, 9, 0.11);
    margin: 10px;
    box-sizing: border-box;
    display: inline-block;
}

.view-desti .box .imgbox {
    position: relative;
    overflow: hidden;
}

.view-desti .box .imgbox img {
    max-width: 100%;
    transition: transform 2s;
}

.view-desti .box:hover .imgbox img {
    transform: scale(1.2);
}

.view-desti .box .detail .contentbox {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    padding: 15px;
    color: rgb(255, 255, 255);
}

.contentbox img {
    display: flex;
    border-radius: 40px;
    margin-right: 20px;
    margin-bottom: 400px;
}


/* content testimonial */
.testimonial {
  align-items: flex-start;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: -49px;
  margin-top: 100px;
  min-height: 579px;
  padding: 0 10px 10px 20px;
  width: auto;
}

.tag-3 {
  align-items: center;
  background-color: #FCF5FF;
  border-radius: 40px;
  display: flex;
  flex-direction: row;
  height: 40px;
  margin-left: 125px;
  min-width: 168px;
  padding: 0 20px;
}

.medal {
  align-items: flex-start;
  display: flex;
  height: 24px;
  padding: 1.5px 4.4px;
  width: 24px;
}

.vector {
  height: 18px;
  width: 14px;
}

.testimonials {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 8px;
  min-height: 24px;
  min-width: 96px;
  white-space: nowrap;
}

.manrope-medium-heliotrope-16px {
  color: var(--heliotrope);
  font-family: var(--font-family-manrope);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 500;
}

.overlap-group1 {
  align-self: flex-end;
  height: 517px;
  margin-top: 24px;
  position: relative;
  width: 1385px;
}

.manrope-normal-shuttle-gray-20px {
  color: var(--shuttle-gray);
  font-family: var(--font-family-manrope);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.description-4 {
  left: 105px;
  letter-spacing: 0;
  line-height: 32px;
  position: absolute;
  top: 68px;
  width: 652px;
}

.manrope-semi-bold-black-pearl-40px {
  color: #041627;
  font-family: 'Manrope';
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
}

.title-7 {
  display: flex;
  height: 48px;
  left: 105px;
  letter-spacing: 0;
  line-height: 48px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.overlap-group-2 {
  height: 517px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1385px;
}

.ornamen {
  height: 300px;
  left: 0;
  position: absolute;
  top: 217px;
  width: 1194px;
}

.approval {
  align-items: flex-start;
  display: flex;
  height: 100px;
  left: 105px;
  min-width: 632px;
  position: absolute;
  top: 196px;
}

.years-of-experiences {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 60px;
  min-height: 100px;
  width: 194px;
}

.years-of-experiences-1 {
  letter-spacing: 0;
  line-height: 28px;
  margin-top: 16px;
  min-height: 28px;
  white-space: nowrap;
}

.manrope-semi-bold-black-pearl-48px {
  color: var(--black-pearl);
  font-family: var(--font-family-manrope);
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
}

.number {
  letter-spacing: 0;
  line-height: 56px;
  min-height: 56px;
  white-space: nowrap;
}

.travel-success {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 100px;
  width: 170px;
}

.text-2 {
  letter-spacing: 0;
  line-height: 56px;
  min-height: 56px;
  white-space: nowrap;
}

.successfull-travel {
  letter-spacing: 0;
  line-height: 28px;
  margin-top: 16px;
  min-height: 28px;
  white-space: nowrap;
}

.clients {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 60px;
  min-height: 100px;
  width: 152px;
}

.text-1 {
  letter-spacing: 0;
  line-height: 56px;
  min-height: 56px;
  white-space: nowrap;
}

.happy-clients {
  letter-spacing: 0;
  line-height: 28px;
  margin-top: 16px;
  min-height: 28px;
  white-space: nowrap;
}

.image {
  height: 515px;
  left: 866px;
  position: absolute;
  top: 0;
  width: 519px;
}
/* end testimonial */

/* tombol letsgo 3D */

.message-wrapper {
    border-bottom: 1px solid #eee;
    padding-bottom: 80px;
    text-align: center;
    margin-top: 80px;
    height: 400px;
}

.message {
    padding: 15px 40px;
    background-color: #0081F9;
    cursor: pointer;
    box-shadow: 0 7px #1b5286;
    color: white;
    font-family: 'Manrope';
}

.message:active {
    position: relative;
    top: 7px;
    box-shadow: none;
}

.heading h3 {
    font-weight: normal;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    /* or 160% */
    color: #596B7B;
}

.heading {
    padding-top: 80px;
    padding-bottom: 50px;
    color: #5f5d60;
}

.heading h2 {

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    /* identical to box height, or 120% */
    align-items: center;
    text-transform: capitalize;
    margin-bottom: 20px;
    color: #041627;
}

/* ini bagian footer*/

footer {
    background-color: #1c1b1b;
    color: #fff;
    height: 500px;
    padding: 80px;
}

.footer-logo {
    float: left;
    font-size: 32px;
}

.footer-logo p {
    width: 411px;
    height: 96px;
    left: 80px;
    top: 4634px;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    /* or 160% */
    color: #acb5bd;
}

.footer-list {
    float: right;
    padding-top: 40px;
}

.footer-list li {
    padding-bottom: 20px;
    padding-right: 80px;

}

.titlef {
    float: right;
    padding-top: 20px;
    padding-right: 150px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    /* identical to box height, or 160% */
    color: #ffffff;
    margin-bottom: 24px;

}

.footer-list a {
    color: #9c9b9b;
    text-decoration: none;
}

.footer-list a:hover {
    background-color: white;
    box-shadow: 0px 3px 38px 5px rgba(158, 157, 157, 0.11);
    -webkit-box-shadow: 0px 3px 38px 5px rgba(158, 157, 157, 0.11);
    -moz-box-shadow: 0px 3px 38px 5px rgba(158, 157, 157, 0.11);
}

.copyright {
    border-bottom: 2px solid #dee7ec;

    height: 400px;
}

.copyright h3 {
    font-size: 15px;
    padding-top: 450px;
    text-align: center;
    font-family: 'Manrope';
    font-style: normal;
    word-spacing: 15px;
}

/* Responsiveness */

@media screen and (max-width: 1000px) {
    .header-center {
        display: none;
    }

    .header-right {
        display: none;
    }

    .menu-icon {
        display: block !important;
        margin-top: 28px;
        margin-right: 80px;
        float: right;
        cursor: pointer;

    }

    .card-wrapper {
        display: flex;
        flex-direction: column;
    }

    .card {
        background-color: white;
        width: 80%;
        margin: 10px auto;
        height: 346px;
        padding: 20px;
        box-shadow: 0px 3px 38px 5px rgba(158, 157, 157, 0.11);
        -webkit-box-shadow: 0px 3px 38px 5px rgba(158, 157, 157, 0.11);
        -moz-box-shadow: 0px 3px 38px 5px rgba(158, 157, 157, 0.11);
    }

    .content-view {
        background-color: #FAFBFC;
        height: 1018.5px;
        padding-right: 80px;
        padding-left: 80px;
        margin-top: 850px;
        margin-bottom: 1300px;
    }

    .content-label {
        display: flex;
        justify-content: center;
        text-align: center;
        padding: 8px 20px;
        background: #FCF5FF;
        border-radius: 40px;
        margin-left: 70px;
        margin-bottom: 30px;
        width: 140px;

    }

    .content h2 {
        display: flex;
        align-items: center;
        text-align: center;
        margin-bottom: 60px;
    }

    .content p {
        text-align: center;
        margin-bottom: 230px;
    }

    .view-desti {
        width: 0;
        margin: 70px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        padding-right: 80px;
        padding-left: 20%;
        padding-top: 100px;
        cursor: pointer;
    }

    .view-desti .box {
        height: 600px;
        margin-bottom: 50px;
        margin-left: 25px;
    }

    .view-desti .box .imgbox {
        margin-left: -20px;
    }


    .view-desti .box:hover .imgbox img {
        transform: none;
    }


    footer {
        background-color: #1c1b1b;
        color: #fff;
        height: 1300px;
        padding: 80px;
    }

    .footer-logo {
        float: left;
        font-size: 32px;
    }
    .footer-logo img {
        margin-left: 0px;
    }

    .footer-logo p {
        width: 100%;
        
    }

    .footer-list {
        float: left;
        padding-top: 40px;
    }


    .footer-list a {
        margin-left: 0px;
    }

    .footer-list a:hover {
        background-color: white;
        box-shadow: 0px 3px 38px 5px rgba(158, 157, 157, 0.11);
        -webkit-box-shadow: 0px 3px 38px 5px rgba(158, 157, 157, 0.11);
        -moz-box-shadow: 0px 3px 38px 5px rgba(158, 157, 157, 0.11);
    }

    .copyright {
        margin-top: 1300px;
        border-bottom: 2px solid #dee7ec;
        height: 0;
    }

    .copyright h3 {
        font-size: 15px;
        padding-top: 10px;
        text-align: center;
        font-family: 'Manrope';
        font-style: normal;
        word-spacing: 5px;
    }

}

@media screen and (max-width: 670px) {
    .top-wrapper {
        padding: 180px 0 180px 0;
    }

    .top-wrapper h1 {
        font-size: 44px;
        line-height: 60px;
    }

    .top-wrapper p {
        font-size: 16px;
        padding: 10px 15px;
    }

    input[type="text"] {
        width: 220px;
    }

    input[type="submit"] {
        width: 100px;
    }

    .services h2 {
        font-size: 30px;
        margin-bottom: 20px;
    }

    .services p {
        padding: 20px;
        font-size: 18px;
        margin-bottom: 20px;
    }

    .tag-services p {
        padding: 5px;
    }

    .card h5,
    a,
    img {
        margin-left: 20px;
        align-items: center;
        text-align: center;
    }



}
